<mat-toolbar class="header">
    <mat-toolbar-row>
      <img src="assets/images/logoUNION.png" width="100">
      <span class="spacer"></span>

      <ng-container *ngIf="_auth.logged">
        <span class="arroba">@</span>
        <mat-icon [matMenuTriggerFor]="menu" class="icon_avatar">account_circle</mat-icon>

        <mat-menu #menu="matMenu" class="mat-menu-bg-grey">
          <button mat-menu-item [routerLink]="'/areacoopunion'" *ngIf="isAdmin()">
            <mat-icon>list</mat-icon>
            <span>Areas CoopUnion</span>
          </button>
          <button mat-menu-item [routerLink]="'/areaestudio'" *ngIf="isAdmin()">
            <mat-icon>list</mat-icon>
            <span>Areas Estudios</span>
          </button>
          <button mat-menu-item [routerLink]="'/arealaboral'" *ngIf="isAdmin()">
            <mat-icon>list</mat-icon>
            <span>Areas Laborales</span>
          </button>
          <button mat-menu-item [routerLink]="'/lista'" *ngIf="isAdmin()">
            <mat-icon>filter_alt</mat-icon>
            <span>Lista</span>
          </button>
          <button mat-menu-item [routerLink]="'/usuario'" *ngIf="isAdmin()">
            <mat-icon>miscellaneous_services</mat-icon>
            <span>Usuarios</span>
          </button>
          <!-- <mat-divider></mat-divider> -->
          <button mat-menu-item  (click)="_auth.logout()">
            <mat-icon class="red-icon">power_settings_new</mat-icon>
            <span>Cerrar sesi&oacute;n</span>
          </button>

        </mat-menu>
      </ng-container>

    </mat-toolbar-row>

    <mat-toolbar-row>
      <span></span>
    </mat-toolbar-row>

  </mat-toolbar>
