<section class="cont_main_saludo">

  <div class="cont_saludo">

    <div class="imagen_saludo"></div>

    <div style="padding: 20px;">Gracias por elegirnos!</div>

  </div>

</section>

<div style="text-align: center; margin-top: 40px;">
  <h4 style="margin: 5px;">Siguenos en nuestras redes sociales</h4>
</div>

<div class="cont_redessociales">
  <div class="redsocial" >
    <img src="assets/images/facebook.png" width="50px" (click)="navegar('facebook')">
    <!-- <span>@cooperativaagropecuariaunion</span> -->
  </div>
  <div class="redsocial" >
    <img src="assets/images/instagram.png" width="50px" (click)="navegar('instragram')">
    <!-- <span>@coop_union</span> -->
  </div>
  <div class="redsocial" >
    <img src="assets/images/youtube.png" width="50px" (click)="navegar('youtube')">
    <!-- <span>&nbsp;</span> -->
  </div>
</div>

