<h3 class="title_step">Curr&iacute;culum</h3>

<div class="body_step">
  <div class="cont_img_step">
      <img src="assets/images/curriculum.jpg">

      <div class="line_dato_personal bgcolor4 noprint" style="margin-top: 20px" *ngIf="_auth.isAdmin && filename" (click)="downloadCurriculum()">
        <mat-icon>cloud_download</mat-icon>
        <span>Download</span>
      </div>
  </div>

  <div class="cont_form_step" style="flex-grow: 8;">
    <div style="height: 80px;  width: 100%; color:#e1e1e1">
      <mat-icon style="font-size: 80px;">cloud_upload</mat-icon>
    </div>

    <div>
      <h5 style="font-weight: 100; margin-bottom: 10px;">Opcionalmente puedes enviarnos un curr&iacute;culum que tengas creado con Word o en PDF.</h5>
      <form>
        <mat-progress-bar mode="indeterminate" *ngIf="uploadingFile"></mat-progress-bar>
        <button mat-raised-button (click)="openInput()" style="margin-top: 20px;">Seleccionar Archivo</button>
        <input #fileInput hidden type="file" (change)="fileChange($event.target.files)" accept=".doc,.docx,.pdf">
      </form>
    </div>

  </div>


</div>

