<mat-toolbar class="header">
    <mat-toolbar-row>
      <img src="assets/images/logoUNION.png" width="100">
      <span class="spacer"></span>

      <ng-container *ngIf="_auth.logueado">
        <mat-icon [matMenuTriggerFor]="menu" class="icon_avatar">account_circle</mat-icon>

        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/lista'" *ngIf="isAdmin()">
            <mat-icon>filter_alt</mat-icon>
            <span>Lista</span>
          </button>
          <button mat-menu-item  (click)="_auth.logout()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Cerrar sesi&oacute;n</span>
          </button>

        </mat-menu>
      </ng-container>

    </mat-toolbar-row>

    <mat-toolbar-row>
      <span></span>
    </mat-toolbar-row>

  </mat-toolbar>
