<h3 class="title_step">Preferencias</h3>

<form [formGroup]="formStepPreferencias">

    <div class="body_step">
        <div class="cont_img_step">
            <img src="assets/images/preferencias.jpg">
        </div>
        <div class="cont_form_step">
            <p style="font-style: italic;">
              En que sección de la cooperativa te gustaría trabajar?
            </p>
            <div formArrayName="preferencias" class="preferencias">
                <div *ngFor="let a of areasCtrls; index as i" class="cont_checkbox_preferencias">
                        <mat-checkbox [formControlName]="i">{{a.nombre}}</mat-checkbox>
                </div>
            </div>

        </div>



    </div>

</form>
