
@media only screen and (max-width: 565px) {
  .cont_buttons { padding: 8px 10px;}
}

@media only screen and (max-width: 450px) {
  .main-container  { justify-content: center; }
  .cont_izq { display: none !important; }
}

.cont_buttons {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  max-width: 350px;
  /* margin: 0 auto; */
  text-align: center;
  padding: 8px 40px;
  align-items: center;
}

.cont_izq {
  display: flex;
  flex-direction: column;
  background-color: steelblue;
  background-image: url('../../../assets/images/3R4A2979.jpg');
  background-position: center;
  background-size: cover;
  justify-content: center;
  width: 100%;
}

.mat-button:disabled {
  background-color: #f4f4f4;
}

.mat-form-field {
  width: 100%;
}

.mat-accordion {
  margin: 20px 0px;
  max-width: 280px;
}

.mat-expansion-panel-header-title {
  color: #818181;
}

.cont_buttons button {
  width: 100%;
  margin: 8px 0px;
}

.account_icon {
  align-self: center;
  font-size: 80px;
  height: 80px;
  width: 80px;
  color: darkgrey;
  margin: 20px;
}

form {
  width: 100%;
  box-sizing: border-box;
}

input {
  padding: 6px;
  margin: 2px 0px;
  width: 100%;
  box-sizing: border-box;
}

.mat-divider {
  margin: 10px 0px;
}

.cont_buttons span {
  font-size: 12px;
  line-height: 20px;
}

.button_email_login {
  background-color: #65b5bf;
  color: white;
  margin-left: 20px !important;
}

.button_google {
  background-color: #d9534f;
  color: white;
}

.button_facebook {
  background-color: #3b5998;
  color: white;
}

.button_twitter {
  background-color: #1da1f2;
  color: white;
}
